.advantages {
  background-image: url("../img/back-main-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  column-gap: 1.3vw;
  row-gap: 100px;
  align-items: start;
  padding-left: 30px;
  padding-right: 30px;

  @media (max-width: 1600px) {
    row-gap: 80px;
  }

  @media (max-width: 1280px) {
    row-gap: 50px;
  }

  @media (max-width: 1080px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    justify-content: space-between;
  }

  @media (max-width: 840px) {
    display: block;
  }
}

.advantages p {
  font-family: inherit;
  font-size: 34px;
  line-height: 34 / 34 * 1;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.5px;
  color: #ffffff;

  @media (max-width: 1600px) {
    font-size: 25px;
  }

  @media (max-width: 1280px) {
    font-size: 21px;
  }

  @media (max-width: 1080px) {
    font-size: 28px;
  }

  @media (max-width: 992px) {
    font-size: 25px;
  }
}

.advantages a {
  color: #ffffff;
}

.advantages__list h3 {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  color: #98b500;
  margin-bottom: 40px;

  @media (max-width: 1600px) {
    font-size: 40px;
    margin-bottom: 30px;
  }

  @media (max-width: 1280px) {
    font-size: 34px;
    margin-bottom: 20px;
  }

  @media (max-width: 1080px) {
    font-size: 40px;
  }

  @media (max-width: 992px) {
    font-size: 32px;
  }

  @media (max-width: 480px) {
    font-size: 34px;
  }
}

.advantages__list li {
  position: relative;
  padding-left: 165px;

  @media (max-width: 1600px) {
    padding-left: 130px;
  }

  @media (max-width: 840px) {
    display: block;
    max-width: 80%;
    padding-left: 160px;
    margin: 0 auto;
  }

  @media (max-width: 680px) {
    max-width: 85%;
    padding-left: 140px;
  }

  @media (max-width: 580px) {
    max-width: 100%;
    padding-left: 120px;
  }

  @media (max-width: 480px) {
    padding-left: 27vw;
  }

  @media (max-width: 380px) {
    text-align: center;
    padding-left: 0;
    margin-top: 180px;
  }
}

.advantages__list li:not(:last-child) {
  @media (max-width: 840px) {
    margin-bottom: 47px;
  }
}

.advantages__list li:before {
  position: absolute;
  content: "";
  width: 156px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 50%;
  left: -3%;
  bottom: 0;

  @media (max-width: 1600px) {
    width: 124px;
  }

  @media (max-width: 1280px) {
    width: 101px;
    left: 3%;
  }

  @media (max-width: 1080px) {
    left: 0;
  }

  @media (max-width: 840px) {
    background-position: 100% 100%;
    left: 5%;
  }

  @media (max-width: 680px) {
    left: 3%;
  }

  @media (max-width: 580px) {
    left: 0;
  }

  @media (max-width: 480px) {
    width: 124px;
    width: 25.8vw;
    left: -3%;
  }

  @media (max-width: 380px) {
    width: 101px;
    bottom: 105%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__item--location:before {
  width: 126px;
  height: 220px;
  background-image: url("../img/birches.png");

  @media (max-width: 1600px) {
    width: 100px;
    height: 176px;
  }

  @media (max-width: 1280px) {
    width: 83px;
    height: 143px;
  }

  @media (max-width: 1080px) {
    width: 100px;
    height: 176px;
  }

  @media (max-width: 480px) {
    width: 126px;
    width: 26.3vw;
  }
}

.advantages__item--time:before {
  width: 133px;
  height: 183px;
  background-image: url("../img/watch.png");

  @media (max-width: 1600px) {
    width: 106px;
    height: 146px;
  }

  @media (max-width: 1280px) {
    width: 86px;
    height: 118px;
  }

  @media (max-width: 1080px) {
    width: 106px;
    height: 146px;
  }

  @media (max-width: 480px) {
    width: 106px;
    width: 22.3vw;
  }
}

.advantages__item--delivery:before {
  width: 148px;
  height: 194px;
  background-image: url("../img/wicker-basket.png");

  @media (max-width: 1600px) {
    width: 118px;
    height: 155px;
  }

  @media (max-width: 1280px) {
    width: 96px;
    height: 126px;
  }

  @media (max-width: 1080px) {
    width: 118px;
    height: 155px;
  }

  @media (max-width: 480px) {
    width: 24.5vw;
  }
}

.advantages__item--cooking:before {
  width: 123px;
  height: 172px;
  background-image: url("../img/pizza.png");

  @media (max-width: 1600px) {
    width: 98px;
    height: 137px;
  }

  @media (max-width: 1280px) {
    width: 80px;
    height: 112px;
  }

  @media (max-width: 1080px) {
    width: 98px;
    height: 137px;
  }

  @media (max-width: 480px) {
    width: 20.4vw;
  }
}

.advantages__item--market:before {
  width: 156px;
  height: 238px;
  background-image: url("../img/tomatoes.png");

  @media (max-width: 1600px) {
    width: 124px;
    height: 190px;
  }

  @media (max-width: 1280px) {
    width: 101px;
    height: 154px;
  }

  @media (max-width: 1080px) {
    width: 124px;
    height: 190px;
  }

  @media (max-width: 480px) {
    width: 25.8vw;
  }
}

.advantages__item--bakery:before {
  width: 146px;
  height: 195px;
  background-image: url("../img/bread.png");

  @media (max-width: 1600px) {
    width: 117px;
    height: 156px;
  }

  @media (max-width: 1280px) {
    width: 95px;
    height: 126px;
  }

  @media (max-width: 1080px) {
    width: 117px;
    height: 156px;
  }

  @media (max-width: 480px) {
    width: 24.3vw;
  }
}

