.business {
  max-width: 100%;
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 90px;

  @media (max-width: 1600px) {
    padding-bottom: 72px;
  }

  @media (max-width: 1280px) {
    padding-bottom: 60px;
  }

  @media (max-width: 1080px) {
    padding-bottom: 80px;
  }
}

.business p {
  font-size: 25px;
  line-height: 30 / 25 * 1;
  font-weight: 300;
  font-style: italic;
  color: #2b2a29;
  text-align: center;

  @media (max-width: 1600px) {
    font-size: 20px;
  }

  @media (max-width: 1280px) {
    font-size: 17px;
  }

  @media (max-width: 1180px) {
    font-size: 25px;
  }

  @media (max-width: 767px) {

  }
}

.business a {
  color: #98b500;

  @media (max-width: 540px) {
    display: block;
  }
}

