.content-info {
  position: relative;
  z-index: 50;
}

.content-info,
.content-info input {
  font-family: inherit;
  font-size: 25px;
  line-height: 32 / 25 * 1;
  font-weight: 300;
  color: #292929;

  @media (max-width: 1600px) {

  }

  @media (max-width: 1280px) {
    font-size: 23px;
  }

  @media (max-width: 1080px) {
    font-size: 25px;
  }

  @media (max-width: 992px) {
    font-size: 23px;
  }

  @media (max-width: 767px) {
    font-size: 21px;
  }

  @media (max-width: 380px) {
    font-size: 19px;
  }
}

.content-info p:not(:last-child),
.content-info ul:not(:last-child) {
  margin-bottom: 25px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.content-info ul {
  margin-left: 26px;

  @media (max-width: 480px) {
    margin-left: 0;
  }
}

.content-info li {
  position: relative;
  padding-left: 35px;

  @media (max-width: 767px) {
    padding-left: 25px;
  }
}

.content-info li::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  top: 0.52em;
  left: 0;
  background-color: #98b500;
  border-radius: 50%;

  @media (max-width: 767px) {
    width: 10px;
    height: 10px;
    top: 0.48em;
  }
}

.content-info input {
  font-size: 23px;
  color: #333333;
  height: 32px;
  border-bottom: 2px solid #292929;
}

.content-info a {
  color: #2c3370;
}

.content-info #full-name,
.content-info #user-number {
  max-width: 130px;

  @media (max-width: 992px) {
    max-width: 90px;
  }
}

.content-info #address {
  width: 670px;

  @media (max-width: 992px) {
    width: 500px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}
