.form-search {
  position: relative;
  width: 410px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #2b2a29;
  margin-left: 12px;

  @media (max-width: 1600px) {
    width: 356px;
  }

  @media (max-width: 1280px) {
    width: 298px;
    border-bottom: 1.5px solid #2b2a29;
  }

  @media (max-width: 1180px) {
    width: 260px;
  }

  @media (max-width: 1080px) {
    width: 280px;
  }

  @media (max-width: 992px) {
    width: 85%;
    margin-left: 0;
    border-bottom: 2px solid #2b2a29;
  }

  @media (max-width: 680px) {
    width: 100%;
  }
}

.form-search input[type="search"] {
  display: flex;
  width: 90%;
  align-self: center;
  font-size: 32px;
  line-height: 36 / 32 * 1;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: #2c3370;
  background: transparent;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  border: 0;
  outline: 0;
  cursor: pointer;
  pointer-events: auto;

  @media (max-width: 1600px) {
    font-size: 24px;
  }

  @media (max-width: 1280px) {
    font-size: 20px;
  }

  @media (max-width: 992px) {
    font-size: 36px;
    padding-left: calc(20% - 30px);
    padding-bottom: 5px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
  }

  @media (max-width: 680px) {
    padding-left: calc(15% - 30px);
  }

  @media (max-width: 580px) {
    font-size: 26px;
    padding-left: calc(15% - 30px);
  }

  @media (max-width: 480px) {
    font-size: 23px;
  }

  @media (max-width: 380px) {
    font-size: 20px;
    padding-left: calc(10% - 30px);
  }
}

.form-search__btn {
  width: 34px;
  height: 34px;
  font-size: 0;
  background: url("../img/search.svg") transparent;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 13px;

  @media (max-width: 1600px) {
    width: 27px;
    height: 26px;
    margin-right: 10px;
  }

  @media (max-width: 1280px) {
    width: 23px;
    height: 22px;
    margin-right: 8px;
  }

  @media (max-width: 992px) {
    width: 34px;
    height: 34px;
    margin-right: 13px;
  }
}


















/*
.form-search {
  position: relative;
  width: 267px;
  height: 39px;
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid var(--basic-gray);

  @media (max-width: 1600px) {
    width: 223px;
    height: 33px;
  }

  @media (max-width: 1280px) {
    width: 178px;
    height: 26px;
  }

  @media (max-width: 1080px) {
    width: 267px;
    height: 39px;
  }

  @media (max-width: 992px) {

  }

  @media (max-width: 767px) {
    width: 220px;
    height: 33px;
  }

  @media (max-width: 480px) {

  }
}

.form-search input[type="search"] {
  width: 100%;
  font-size: 16px;
  color: var(--basic-gray);
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  pointer-events: auto;
}

.form-search input[type="search"]::-webkit-input-placeholder {
  font-size: 16px;
  color: var(--basic-light-gray);

  @media (max-width: 1600px) {
    font-size: 14px;
  }

  @media (max-width: 1280px) {
    font-size: 12px;
  }

  @media (max-width: 1080px) {
    font-size: 16px;
  }

  @media (max-width: 992px) {

  }

  @media (max-width: 767px) {

  }

  @media (max-width: 480px) {

  }
}

.form-search:focus-within input[type="search"],
.form-search input[type="search"]:valid {

}

.form-search__btn {
  width: 21px;
  height: 21px;
  font-size: 0;
  background: url("../img/search.png") transparent;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: none;
  cursor: pointer;
  padding: 0;

  @media (max-width: 1600px) {
    width: 18px;
    height: 18px;
  }

  @media (max-width: 1280px) {
    width: 14px;
    height: 14px;
  }

  @media (max-width: 1080px) {
    width: 21px;
    height: 21px;
  }

  @media (max-width: 992px) {

  }

  @media (max-width: 767px) {

  }

  @media (max-width: 480px) {

  }
}


/*
.form-search:focus input[type="search"]::-webkit-input-placeholder,
.form-search:hover input[type="search"]::-webkit-input-placeholder {
  visibility: visible;
}

.form-search:focus input[type="search"],
.form-search:hover input[type="search"] {
  visibility: visible;
}
*/
