.goods-buy {
  text-align: center;
  transform: rotate(-3.5deg);
}

.goods-buy__btn {
  width: 280px;
  height: 70px;
  font-size: 42px;
  background-color: #98b500;
  margin: 0 auto;
  margin-bottom: 10px;

  @media (max-width: 1600px) {
    width: 252px;
    height: 63px;
    font-size: 34px;
  }

  @media (max-width: 1280px) {
    width: 210px;
    height: 53px;
    font-size: 28px;
  }

  @media (max-width: 1080px) {
    width: 260px;
    height: 50px;
    font-size: 34px;
  }

  @media (max-width: 540px) {
    width: 210px;
    height: 53px;
    font-size: 28px;
  }
}

.goods-buy__note {
  font-family: inherit;
  font-size: 25px;
  line-height: 28 / 25 * 1;
  font-weight: 300;
  font-style: italic;
  color: #2b2a29;

  @media (max-width: 1600px) {
    font-size: 20px;
  }

  @media (max-width: 1280px) {
    font-size: 17px;
  }

  @media (max-width: 1180px) {
    font-size: 20px;
  }

  @media (max-width: 1080px) {
    font-size: 25px;
  }

  @media (max-width: 680px) {
    font-size: 20px;
  }
}

.goods-buy__note a {
  color: #2c3370;
}

