.header-top {
  height: 125px;
  background-image: url("../img/kraft_paper_texture_texturise.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1600px) {
    height: 100px;
  }

  @media (max-width: 1480px) {
    height: 90px;
  }

  @media (max-width: 1280px) {
    height: 80px;
  }

  @media (max-width: 992px) {
    height: 100%;
    padding-bottom: 20px;
  }

  @media (max-width: 480px) {
    padding-bottom: 0;
  }

  @media (max-width: 380px) {

  }
}

.header-top__form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: 992px) {
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (max-width: 680px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header-top__form--index p {
  @media (max-width: 480px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: 380px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header-top__form p {
  font-family: inherit;
  font-size: 34px;
  line-height: 32 / 34 * 1;
  font-weight: 300;
  font-style: italic;
  margin-top: 15px;

  @media (max-width: 1600px) {
    font-size: 26px;
  }

  @media (max-width: 1280px) {
    font-size: 20px;
  }

  @media (max-width: 992px) {
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
  }

  @media (max-width: 480px) {
    font-size: 25px;
    line-height: 28 / 25 * 1;
    margin-bottom: 20px;
  }

  @media (max-width: 380px) {
    font-size: 23px;
  }
}

.header-top__form a {
  color: #2c3370;
}

.header-top__form::before,
.header-top__form::after {
  position: relative;
  content: "";
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 100% 50%;

  @media (max-width: 1600px) {
    background-size: 80% auto;
  }

  @media (max-width: 1480px) {
    height: 70px;
  }

  @media (max-width: 992px) {
    height: 100px;
    background-size: 100% auto;
  }
}

.header-top__form::before {
  @media (max-width: 992px) {
    display: none;
  }
}

.header-top__form::after {
  background-position: 0 50%;

  @media (max-width: 992px) {
    top: 15px;
    margin-left: 0;
  }

  @media (max-width: 992px) {
    background-size: 100% auto;
    background-position: 50% 50%;
  }

  @media (max-width: 580px) {
    background-size: 100% auto;
  }

  @media (max-width: 480px) {
    top: 0;
    margin-left: 0;
  }
}

.header-top__form--index::before {
  width: 164px;
  background-image: url("../img/decor-header-1.png");

  @media (max-width: 1480px) {
    width: 115px;
  }

  @media (max-width: 992px) {
    width: 164px;
  }
}

.header-top__form--index::after {
  width: 215px;
  background-image: url("../img/decor-header-2.png");
  margin-left: 17px;

  @media (max-width: 1480px) {
    width: 150px;
  }

  @media (max-width: 992px) {
    width: 215px;
    margin-left: 0;
  }

  @media (max-width: 480px) {
    width: 172px;
  }
}

.header-top__form--catalog::before {
  width: 177px;
  background-image: url("../img/decor-header-3.png");
  margin-right: 10px;

  @media (max-width: 1480px) {
    width: 124px;
  }

  @media (max-width: 992px) {
    width: 177px;
  }
}

.header-top__form--catalog::after {
  width: 153px;
  background-image: url("../img/decor-header-4.png");
  margin-left: 17px;

  @media (max-width: 1480px) {
    width: 107px;
  }

  @media (max-width: 992px) {
    width: 123px;
    margin-left: 0;
  }
}

.header-top__form--goods::before {
  width: 163px;
  background-image: url("../img/decor-header-5.png");
  margin-right: 10px;

  @media (max-width: 1480px) {
    width: 114px;
  }

  @media (max-width: 992px) {
    width: 163px;
  }
}

.header-top__form--goods::after {
  width: 204px;
  background-image: url("../img/decor-header-6.png");
  margin-left: 17px;

  @media (max-width: 1480px) {
    width: 143px;
  }

  @media (max-width: 992px) {
    width: 204px;
    margin-left: 0;
  }
}

.header-top__form--basket::before {
  width: 150px;
  background-image: url("../img/decor-header-7.png");
  margin-right: 28px;

  @media (max-width: 1480px) {
    width: 105px;
  }

  @media (max-width: 992px) {
    width: 150px;
  }
}

.header-top__form--basket::after {
  width: 133px;
  background-image: url("../img/decor-header-8.png");
  margin-left: 28px;

  @media (max-width: 1480px) {
    width: 93px;
  }

  @media (max-width: 992px) {
    width: 133px;
    margin-left: 0;
  }
}

.header-top__form--delivery::before {
  width: 119px;
  background-image: url("../img/decor-header-9.png");
  margin-right: 16px;

  @media (max-width: 1480px) {
    width: 83px;
  }

  @media (max-width: 992px) {
    width: 119px;
  }
}

.header-top__form--delivery::after {
  width: 121px;
  background-image: url("../img/decor-header-10.png");
  margin-left: 17px;

  @media (max-width: 1480px) {
    width: 85px;
  }

  @media (max-width: 992px) {
    width: 121px;
    margin-left: 0;
  }
}

.header-top__form--culinary::before {
  width: 217px;
  background-image: url("../img/decor-header-11.png");
  margin-right: 16px;

  @media (max-width: 1480px) {
    width: 152px;
  }

  @media (max-width: 992px) {
    width: 217px;
  }
}

.header-top__form--culinary::after {
  width: 154px;
  background-image: url("../img/decor-header-12.png");
  margin-left: 17px;

  @media (max-width: 1480px) {
    width: 108px;
  }

  @media (max-width: 992px) {
    width: 154px;
    margin-left: 0;
  }
}

.header-top__form--about::before {
  width: 217px;
  background-image: url("../img/decor-header-3.png");

  @media (max-width: 1480px) {
    width: 152px;
  }

  @media (max-width: 992px) {
    width: 217px;
  }
}

.header-top__form--about::after {
  width: 154px;
  background-image: url("../img/decor-header-4.png");
  margin-left: 17px;

  @media (max-width: 1480px) {
    width: 108px;
  }

  @media (max-width: 992px) {
    width: 154px;
    margin-left: 0;
  }
}














/*
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;

  @media (max-width: 1600px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (max-width: 1280px) {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @media (max-width: 1080px) {
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  @media (max-width: 992px) {

  }

  @media (max-width: 767px) {

  }

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.header-top form {
  margin-right: 74px;

  @media (max-width: 1600px) {
    margin-right: 60px;
  }

  @media (max-width: 1280px) {
    margin-right: 50px;
  }

  @media (max-width: 1080px) {
    margin-right: 0;
  }

  @media (max-width: 767px) {

  }

  @media (max-width: 480px) {

  }
}

.header-top__tel {
  font-family: "Eras", "Arial", sans-serif;
  font-size: 29px;
  line-height: 30 / 29 * 1;
  font-weight: 700;
  color: var(--basic-main);
  text-decoration: none;

  @media (max-width: 1600px) {
    font-size: 24px;
  }

  @media (max-width: 1280px) {
    font-size: 20px;
  }

  @media (max-width: 1080px) {
    font-size: 29px;
  }

  @media (max-width: 992px) {

  }

  @media (max-width: 767px) {
    font-size: 24px;
  }

  @media (max-width: 580px) {
    font-size: 18px;
  }

  @media (max-width: 480px) {
    margin-top: 10px;
  }
}
*/
