.nav-footer {
  min-height: 208px;
  background-image: url("../img/kraft_paper_texture_texturise.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 38px;
  padding-bottom: 42px;

  @media (max-width: 1600px) {
    padding-bottom: 32px;
  }

  @media (max-width: 1280px) {
    padding-bottom: 28px;
  }

  @media (max-width: 1080px) {
    padding-bottom: 42px;
  }

  @media (max-width: 480px) {
    padding-bottom: 30px;
  }
}

.nav-footer article,
.nav-footer ul {
  justify-self: start;

  @media (max-width: 992px) {
    justify-self: center;
  }
}

.nav-footer article:last-child,
.nav-footer ul:last-child {
  justify-self: end;

  @media (max-width: 1180px) {
    justify-self: start;
  }

  @media (max-width: 992px) {
    justify-self: center;
  }
}

.nav-footer__list:nth-child(4) {
  justify-self: end;

  @media (max-width: 1180px) {
    justify-self: start;
  }

  @media (max-width: 992px) {
    justify-self: center;
  }
}

.nav-footer__list:nth-child(5) {
  justify-self: end;

  @media (max-width: 1180px) {
    justify-self: start;
  }

  @media (max-width: 992px) {
    justify-self: center;
  }
}


/*
.nav-footer article:not(:last-child),
.nav-footer ul:not(:last-child) {
  justify-self: center;
  //margin-right: 30px;

  @media (max-width: 1180px) {
    margin-right: 0;
  }
}
*/

.nav-footer__content {
  display: grid;
  grid-template-columns: repeat(3, max-content) repeat(2, auto);
  column-gap: 5vw;
  row-gap: 50px;
  font-family: inherit;
  font-size: 1.3vw;
  line-height: 30 / 25 * 1;
  font-weight: 300;
  font-style: italic;
  color: #2b2a29;
  padding-left: 90px;
  padding-right: 90px;

  @media (max-width: 1600px) {
    font-size: 20px;
    padding-left: 65px;
    padding-right: 65px;
  }

  @media (max-width: 1280px) {
    font-size: 17px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 1180px) {
    font-size: 25px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    row-gap: 25px;
    justify-content: center;
    text-align: center;
  }
}

.nav-footer__content a {
  display: block;
  color: #2b2a29;
}

.nav-footer__content h4,
.nav-footer__tel {
  font-size: 1.77vw;
  line-height: 30 / 34 * 1;
  font-weight: 700;
  //margin-bottom: 5px;
  text-decoration: none;

  @media (max-width: 1600px) {
    font-size: 25px;
  }

  @media (max-width: 1280px) {
    font-size: 23px;
  }

  @media (max-width: 1180px) {
    font-size: 34px;
  }

  @media (max-width: 480px) {
    font-size: 34px;
  }
}

.nav-footer__copyright,
.nav-footer__mail {
  margin-bottom: 28px;

  @media (max-width: 992px) {
    margin-bottom: 10px;
  }

  @media (max-width: 480px) {
    margin-bottom: 0;
  }
}

.nav-footer__logo {
  display: grid;
  align-self: center;
  justify-self: center;
  //margin-right: 30px;

  @media (max-width: 992px) {
    margin-right: 0;
  }
}

.nav-footer__content h4 {
  @media (max-width: 992px) {
    margin-bottom: 7px;
  }
}

.nav-footer__list {
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
  }
}

.nav-footer__tel {
  @media (max-width: 992px) {
    order: 3;
    margin-top: 15px;
  }
}
