.page-main {
  flex: 1 1 auto;
}

.page-main--index .page-main__about {
  @media (max-width: 480px) {
    padding-top: 30px;
  }
}

.page-main--basket .page-main__content--inner {
  padding-bottom: 40px;
}

.page-main--basket .page-main__content::after {

}

.page-main__about {
  padding-top: 3vw;
  //padding-bottom: 2vw;

  @media (max-width: 1600px) {

  }

  @media (max-width: 1080px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 480px) {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.page-main__content {
  position: relative;
  //padding-top: 40px;
  padding-bottom: 40px;
  z-index: 30;
}

.page-main__content--inner {
  padding-bottom: 125px;
}

.page-main__content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 91px;
  top: -53px;
  background-image: url("../img/top-edge.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;

  @media (max-width: 480px) {
    top: -34px;
  }
}

.page-main__content--inner::before,
.page-main__content--about::before {
  top: -30px;
}

.page-main__content::after,
.page-main__delivery::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 113px;
  bottom: -55px;
  background-image: url("../img/bottom-edge.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.page-main__content--goods::after {
  display: none;
}

.page-main__advantages {
  //padding-top: 125px;
  padding-top: 6.5vw;
  padding-bottom: 83px;

  @media (max-width: 1600px) {
    padding-top: 120px;
    padding-bottom: 65px;
  }

  @media (max-width: 1280px) {
    padding-top: 83px;
    padding-bottom: 50px;
  }

  @media (max-width: 992px) {
    padding-top: 120px;
    padding-bottom: 65px;
  }

  @media (max-width: 580px) {
    padding-top: 125px;
    padding-bottom: 83px;
  }

  @media (max-width: 480px) {
    padding-top: 120px;
    padding-bottom: 65px;
  }
}

.page-main__delivery::after {
  bottom: -31px;
}

.page-main__content--goods {
  padding-bottom: 30px;
}

.page-main__content--about {
  padding-bottom: 80px;

  @media (max-width: 1600px) {
    padding-bottom: 60px;
  }

  @media (max-width: 1280px) {
    padding-bottom: 40px;
  }
}

.page-main__content--about::after {
  bottom: -35px;
  z-index: -1;

  @media (max-width: 1280px) {
    bottom: -30px;
  }
}


