p.price-card {
  font-family: inherit;
  font-size: 50px;
  line-height: 1;
  font-weight: 300;
  color: #98b500;

  @media (max-width: 1600px) {
    font-size: 40px;
  }

  @media (max-width: 1280px) {
    font-size: 34px;
  }

  @media (max-width: 1080px) {
    font-size: 50px;
  }

  @media (max-width: 680px) {
    font-size: 40px;
  }
}
