@font-face {
  font-family: "Candara";
  src: url("../fonts/Candara.woff2") format("woff2"),
  url("../fonts/Candara.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Candara";
  src: url("../fonts/Candarab.woff2") format("woff2"),
  url("../fonts/Candarab.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Candara";
  src: url("../fonts/Candaral.woff2") format("woff2"),
  url("../fonts/Candaral.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Candara";
  src: url("../fonts/Candarai.woff2") format("woff2"),
  url("../fonts/Candarai.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Candara";
  src: url("../fonts/Candaraz.woff2") format("woff2"),
  url("../fonts/Candaraz.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Candara";
  src: url("../fonts/Candarali.woff2") format("woff2"),
  url("../fonts/Candarali.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
